{% extends "base.html" %}
{% block content %}

        
            <p> Sua Origem é: {{ form.origem.value }}</p>
            <p> Seu Destino é: {{ form.destino.value }}</p>
            <p> Sua Data de Ida: {{ form.data_ida.value }}</p>
            <p> Sua Data de Volta: {{ form.data_volta.value }}</p>
            <p> Pesquisa realizada: {{ form.data_pesquisa.value }}</p>
            <p> Classe do Vôo: {{ form.classe_viagem.value }}</p>
            <p> Informções: {{ form.informacoes.value }}</p>
            <p> Seu Email: {{ form.email.value }}</p>

{% endblock %}        